<div class="nested-fields nested-answers-detail">
  <%= f.label :detail, 'Details', class: "answer-label" %>
  <%= f.text_field :detail, class: 'form-control', placeholder: 'CCC' %>
  <%= link_to_remove_association "X", f, class: "destroy-answer-details" %>
</div>
