<div class="nested-fields nested-answers">
  <%= f.label :answer, 'Answer', class: "answer-label" %>
  <%= f.text_field :answer, class: 'form-control', placeholder: 'BBB' %>
  <%= link_to_remove_association "X", f, class: "destroy-answers" %>
</div>
