<h1>Edit question</h1>

<%= form_with model: @question,
              method: :patch,
              scope: :question, data: { turbo: false } do |form| %>
  <%= render partial: 'form', locals: { form: form, question: @question } %>
<% end %>
