<h1>Create new question</h1>

<%= form_with model: @question,
              method: :post,
              scope: :question do |form| %>
  <%= render partial: 'form', locals: { form: form, question: @question } %>
<% end %>
